body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* watermark ?? */
    body::after {
        content: "";
        background: url('../images/logo-large.png') no-repeat ;
        /*background-attachment: fixed;*/
        background-size: 90%;
        opacity: 0.15;
        top: 60px;
        right: 10%;
        background-position-x: right;
        background-position-y: top;
        position: fixed;
        z-index: 1030;
        height: 230px;
        width: 400px;
        /*border: dashed;*/
        display: block;
    } 
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}