@{
    ViewData["Title"] = "Create Blob";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Creation of @ViewBag.BlobContainerName @(ViewBag.IsCompletedSuccessfully == true ? "succeed" : "failed")</p>
