@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Headquaters - Bellevue, WA - USA, ... <br />
    East Coast - USA, ... <br />
    Central America and Caribean, ....<br />
    Latinamerica - Panama City, ....<br />
    <abbr title="Phone">P:</abbr>
    +1.425.341.1046
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@SynergyAdvisors.biz">support@synergyadvisors.biz</a><br />
    <strong>Info:</strong> <a href="mailto:info@synergyadvisors.biz">info@synergyadvisors.biz</a>
</address>
